<%- include('partials/header') -%>
<div class="jumbotron">
	<h1 class="display-4 d-flex justify-content-center mt-5">Welcome to Blog App</h1>
	<p class="lead d-flex justify-content-center">
		Here you can write your blog and share your idea related to Data Structure and Algorithm
	</p>
	<hr class="my-4" />
	<p class="d-flex justify-content-center">Login /Register if you want to Join the community</p>
	<div class="container d-flex justify-content-center">
		<a class="btn btn-outline-dark btn-lg mt-4 mr-2" href="/register" role="button">Register</a>
		<a class="btn btn-dark btn-lg mt-4" href="/login" role="button">Login</a>
	</div>
</div>
<%- include('partials/footer') -%>
